@import url('https://fonts.googleapis.com/css2?family=Anta&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    /* filter: invert(95%) hue-rotate(180deg); */
}
img{
    /* filter: invert(95%) hue-rotate(180deg); */
}

.hero{
  padding: 2rem 5rem 0 5rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 5rem;
  
  .hero-para{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
    
    .p1{
      font-size: 3rem;
      font-weight: 700;
        }
        
        .p2{
          font-size: medium;
          margin-top: 1rem;
        }
        
        button {
          font-family: "Anta", sans-serif;
            border: none;
            background-color: #1e1e1f;
            color: white;
            width: 15rem;
            padding: 1rem 2rem;
            border-radius: 15px;
            transition: all 0.3s ease;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
          }
          
          button:hover {
            background-color: #2c2c2d;
            transform: translateY(-2px);
          }
          
          button:active {
            background-color: #333;
            transform: translateY(0);
            box-shadow: none;
          }
          
          
        }
      
      .hero-img{
        
        width: 50%;
        height: 100%;
        .inside-hero-img{
          display: flex;
          align-items: center;
          
          img{
            width: 30rem;
            margin-top: 2rem;
            /* border: 1px solid black; */
          }
        }
      }
    }
    
    @media screen and (max-width: 1154px){
      .hero{
        .hero-img{
      .inside-hero-img{
        
        img{
          width: 25rem;
          margin-top: 4rem;
        }
      }
    }
  }
}


@media screen and (max-width: 950px){
  
  .hero{
    padding: 3rem 1rem 0 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .hero-para{
      width: 100%;
      align-items: center;
      
      .p1{
        font-size: 3rem;
        font-weight: 700;
      }
    }
    
    .hero-img{
      .inside-hero-img{
        width: 100%;
        img{
          width: 22rem;
          margin-top: 0rem;
        }
      }
    }
  }
}

@media screen and (max-width: 654px){
  
  .hero{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    .hero-para{
      width: 100%;
      align-items: center;
      
      .p1{
        font-size: 2rem;
        font-weight: 700;
      }
      
      button {
        width: 14rem;
        padding: 0.8rem 1.6rem;
      }
    }
    
    .hero-img{
      .inside-hero-img{
        width: 100%;
        img{
          width: 18rem;
          margin-top: 0rem;
        }
      }
      margin-left: -5rem;
    }
  }
}

@keyframes slide {
  from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    display: flex;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  
  .logos-slide {
    /* display: inline-block; */
    animation: 25s slide infinite linear;
    display: flex;
  }
  
  .logos-slide p {
    margin: 0 40px;
    font-size: x-large;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }  
  
  
  
  .wrapper-quick{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 4rem 0;
    font-family: "Rubik", sans-serif;
    
    .p1{
      font-family: "Rubik", sans-serif;
      font-size: 3rem;
      font-weight: 500;
    }

    .wrapper-card{
      display: flex;
      gap: 2rem;
      
      .c1 .c3{
        margin-top: 2rem;
        background-color: #e33636;
      }
      .c2 .c4{
        margin-bottom: 2rem;
      }

      .card:hover {
        transform: translateY(-20px);
        
      }
      

      .card {
        transition: transform 0.3s ease;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adjust the alpha value to make it slightly darker */
      }
      
      .card-body {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      
      .wrapper-icon {
        width: fit-content;
        padding: 6px 10px 6px 10px;
        border-radius: 50%;
      }
      
      p {
        font-size: small;
      }
      
      
  }
}


@media screen and (max-width: 654px){
  


}